  <h1><a href="/">Phrassed</a></h1>
  <div id="reacthook">
    <form action="/" method="get">
      <input
        type="search"
        id="searchbox"
        name="q"
        aria-label="Search terminology"
      />
      <input type="submit" />
    </form>
  </div>