<p>
  <% terms.forEach((term, index) => { %>
    <div>
      <b><%= index + 1 %></b>
      <a href="<%= `/${l2}-${l1}/${term.term}` %>">
        <%= term.term %></a>
      [<a href="<%= `/id/${term.termid}` %>">
        source
      </a>]
    </div>
  <% }) %>
</p>