html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5em;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

a {
  text-decoration: none;
  color: #41adff;
}

a:hover {
  text-decoration: underline;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 10px;
  caret-color: #00baff;
}

button,
input[type="submit"],
input[type="button"] {
  margin: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #111;
  color: #eee;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  position: relative;
  margin: 0.5em 0;
}

.suggestions {
  position: absolute;
  top: 1.1em;
  padding-top: 0.2em;
  left: 0;
  width: 100%;
  border-top: none;
  border: 1px solid #333;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.suggestions button {
  background-color: #fff;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0.5em 0.5em;
}

.suggestions button:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.suggestions button:hover {
  background-color: #eee;
  color: black;
}

.suggestions .highlighted {
  background-color: #eee;
}
