/* 
  Color scheme:

  - green: rgb(0, 114, 0);
  - yellow: rgb(255, 255, 35);

*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.75;
  padding: 2em 1em;
  color: #333;
}

h1,
h2,
strong {
  color: #333;
}

a {
  text-decoration: none;
  color: rgb(0, 114, 0);
}

a:hover {
  text-decoration: underline;
}

*:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: rgb(0, 114, 0);
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 1px solid #333;
  caret-color: rgb(0, 114, 0);
}

button,
input[type="submit"],
input[type="button"] {
  margin: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: black;
  color: white;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

ul,
ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: decimal;
}

/* logo */

a.logo {
  background-color: rgb(0, 114, 0);
  color: rgb(255, 255, 35);
  display: inline-block;
  font-weight: bolder;
  font-size: 2em;
  padding: 0.25em 0.5em;
  transform: skew(-5deg);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05em;
}

/* search bar */

#search-bar {
  margin-top: 2em;
}

/* search client */

.wrapper {
  position: relative;
  margin: 0.5em 0;
}

.suggestions {
  position: absolute;
  top: 1.1em;
  padding-top: 0.2em;
  left: 0;
  width: 100%;
  border-top: none;
  border: 1px solid #333;
  border-top: none;
  background-color: white;
}

.suggestions button {
  background-color: white;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0.5em 0.5em;
}

.suggestions button:hover {
  background-color: #eee;
  color: black;
}

.suggestions .highlighted {
  background-color: #eee;
}

/* search results */

.terms {
  margin: 0 0 0.75em 0;
}

.term {
  margin: 0 0 0 1.75em;
}

.phrases {
  margin: 2em 0;
}

.row {
  display: flex;
}

.column {
  border-top: 1px dashed #333;
  flex: 50%;
  padding: 0.5em;
}

.highlight {
  border-radius: 1em 0 1em 0;
  padding: 0.25em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 255, 35, 0.15),
    rgba(255, 255, 35, 0.9) 70%,
    rgba(255, 255, 35, 0.05)
  );
}

.term-language {
  font-family: Consolas;
  margin: 0.2em 0.5em 0 0;
  padding: 0.3em 0.2em 0.1em 0.2em;
  border-radius: 1em;
  border: 1px dotted black;
  font-size: 0.75em;
}

.term-content {
  margin: 0 0.3em 0 0;
}

.term-source {
  background: #eee;
  margin: 0 0.25em;
  padding: 0.25em;
  border-radius: 2px;
  font-size: 0.75em;
}

.term-source a {
  color: black;
}
