<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/app.js" type="module" ></script>
  </head>
<body>
  <h1><a href="/">Phrassed</a></h1>
  <div id="reacthook" data-lang1='<%= l1 %>' data-lang2='<%= l2 %>'>
    <form action="/" method="get">
      <input
        type="search"
        id="searchbox"
        name="q"
        aria-label="Search terminology"
      />
      <input type="submit" />
    </form>
  </div>